body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

section {
    padding: 2rem 0;
    text-align: center;
}

#about .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
    transform: rotate(80deg);
}

#about .about-text {
    max-width: 600px;
    text-align: left;
    margin: 0 auto;
    font-size: 1.2rem;
    margin:5px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
    width: calc(33% - 2rem);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project:hover {
    transform: translateY(-10px);
}

.timeline {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.timeline-event {
    background: #fff;
    border-left: 4px solid #333;
    padding: 1rem;
    margin: 1rem 0;
    position: relative;
}

.timeline-event h3 {
    margin-top: 0;
}

.timeline-event::before {
    content: '';
    position: absolute;
    top: 1rem;
    left: -10px;
    width: 10px;
    height: 10px;
    background: #333;
    border-radius: 50%;
}

.social-media a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-size: 1.5rem;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
